<div class="d-flex flex-column">
    <h2 class="mb-20">{{ krampouz.name }}</h2>
    <img class="mb-20" [src]="krampouz.img" [alt]="krampouz.name" />
    <br>
    <p class="mb-20">{{ krampouz.description }}</p>
    <ul class="list-primary mb-20">
        <li *ngFor="let ingredient of krampouz.ingredients" class="d-flex flex-row">
            <span class="flex-fill">{{ ingredient.name }}</span>
            <span class="badge">{{ ingredient.quantity }}</span>
        </li>
    </ul>
    <div class="d-flex flex-row flex-justify-content-between">
        <button routerLink="edit" class="btn btn-primary">Modifier une recette</button>
        <button class="btn btn-primary" (click)="addToPanier()">Ajouter au panier</button>
    </div>
</div>
